"*":
  "exception-reporting":
    userId: "245b978d-b696-a225-fc21-88c901bb05fc"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    fontFamily: "Fira Mono OT"
  "custom-title": {}
  tabs:
    usePreviewTabs: true
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "git-diff":
    showIconsInEditorGutter: true
  "git-history": {}
  "atom-terminal": {}
  "tree-view":
    hideIgnoredNames: true
  "atom-ctags":
    cmdArgs: "--exclude=.git --exclude=data"
    buildTimeout: 60000
  "git-blame": {}
